<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <title>Şifre Yenile</title>
</head>
<body>

    <nav class="reset-header-sign">
        <img src="../images/logo-black.png" alt="logo" class="logo-signup"  height="100">
    </nav>

    <form class="reset-form" action="/new-password" method="POST" novalidate>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
    
        <div class="form-control">
            <input class="reset-text" type="password" name="password" id="email" value="" placeholder="Şifre">
          
        </div>
      
       
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="button-6" type="submit">Şifreyi Değiştir</button>
        
    </form>

    
</body>
</html>